<tr>
  <td><%= @finance.concept_type %></td>
  <td><%= @finance.concept %></td>
  <td><%= @finance.amount %></td>
  <td>
    <a><i data-js="members" class="fa fa-pencil"></i>
    <i class="fa fa-trash"></i>
  </td>
</tr>
