<div class="container">
  <div class="columns is-wrap is-columns-margin">	
  	<div class="column">
  		<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instrument</th>
      <th>Gear</th>
      <th>Vegetarian?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Misty Abbott</td>
      <td>Bass Guitar</td>
      <td>Sinmarc 2x10 1969</td>
      <td class="table-link table-icon">
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </td>
    </tr>
    <tr>
      <td>John Smith</td>
      <td>Rhythm Guitar</td>
      <td>Sinmarc 2x10 1969</td>
      <td class="table-link table-icon">
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </td>
    </tr>
    <tr>
      <td>Robert Mikels</td>
      <td>Lead Guitar</td>
      <td>Sinmarc 2x10 1969</td>
      <td class="table-link table-icon">
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </td>
    </tr>
    <tr>
      <td>Karyn Holmberg</td>
      <td>Drums</td>
      <td>Premier Champagne 1969</td>
      <td class="table-link table-icon">
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </td>
    </tr>
  </tbody>
</table>
  	</div>
  </div>
</div>