@import "bulma/components/components";
@import "framework/sections";
@import "framework/form";


/*Card*/
.card{
	box-shadow: none;
	transition: box-shadow 0.3s;
	// border: 3px solid transparent;
	// border-radius: $radius;
	&:hover{
		box-shadow:1px 0px 20px 0px rgba(50, 50, 50, 0.3);
	}
}

.card-title-ellipsis{
		width: 75%;
		height:1.8rem;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  transition: color 0.3s;
	  &:hover{
	  	color: $primary;
	  }
}
.card-text-ellipsis{
	$font-size: 14px;
	$line-height: 1.4;
	$lines-to-show: 3;
  display: -webkit-box;
  max-width: 400px;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
 }

/*Menu*/
.menu{
	overflow:hidden;
}

/*hero*/
.hero {
	position:relative;
	overflow:hidden;
}