@import "bulma/elements/elements";

.is-primary-color{
	color: $primary;
}

.is-lighter-color{
	color: $grey-lighter;
}
.is-text-bold{
	font-weight:800;
}

/*buttons*/
.is-halfwidth{
	margin-right: 15px;
	width: 50%;
	&:last-child{
		margin-right:0;
	}
}

.is-flexible-image{
	overflow:hidden;
	width:100%
}

.is-update-content-button{
	font-size:18px;
	float:right;
	margin: 6px 0;
	&:hover{
		pointer:hand;
		color: $primary;
	}
}

.is-update-hero-button{
	position:absolute;
	float: right;
	z-index: 99;
	top:0;
	right:0;
}