@import "bulma/elements/elements";

.is-primary-color{
	color: $primary;
}

.is-lighter-color{
	color: $grey-lighter;
}
.is-text-bold{
	font-weight:800;
}

/*buttons*/
.is-halfwidth{
	margin-right: 15px;
	width: 50%;
	&:last-child{
		margin-right:0;
	}
}