@import "bulma/layout/layout";

/*Structures*/
.is-wrap{
	flex-wrap: wrap;
}

.is-columns-margin{
	margin:20px 0;
}

.is-inline-flex{
	display: inline-flex;
}

/*Header*/
.header{
	height:70px;
}

.header-tab{
	height:70px;
	display:flex;
	&:hover{
		border:0;
		color: $primary;
			i{
				color:$primary;
			}
	}
}

.is-active{
	border-bottom:0 !important;
	color: $primary;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.hamburger{
	width:70px;
	height:70px;
	&:hover{
		background-color: $primary;
		i{
			color: #fff;
		}
	}
}

/*Hero*/
.hero{
	&.is-fullheight{
		min-height: calc(100vh - 70px);
	}
}

/*jQuery*/
.js-is-hidden{
	display:none !important;
	// transition: display 0s, opacity 0.5s linear;
}