@import "bulma/layout/layout";

/*Structures*/
.is-wrap{
	flex-wrap: wrap;
}

.is-columns-margin{
	margin:20px 0;
}

.is-inline-flex{
	display: inline-flex;
}

/*Header*/
.header{
	height:70px;
}

.header-tab{
	height:70px;
	display:flex;
	border-bottom: 3px solid transparent;
}

.header-tab:hover{
	border-bottom: 3px solid $primary;
	color: $primary;
	i{
		color:$primary;
	}
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.hamburger{
	width:70px;
	height:70px;
	&:hover{
		background-color: $primary;
		i{
			color: #fff;
		}
	}
}

/*Hero*/
.hero{
	&.is-fullheight{
		min-height: calc(100vh - 70px);
	}
}