.bands{}
.bands::before {
  font-family:FontAwesome;
	content: "\f001";
	font-size: 20px;
	margin-right: 10px;
  vertical-align: middle;
  }

.events{}
.events::before {
  font-family: FontAwesome;
  content: "\f073";
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.venues{}
.venues::before {
	font-family:FontAwesome;
  content: "\f0f7";
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.finances{}
.finances::before {
	font-family:FontAwesome;
  content: "\f24e";
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}



