// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-page-title{
	color: #fff;
}

.card-submenu{
	position: absolute;
	z-index: 1;
	width: 100%;
	bottom:0px;
	padding: 15px 0;
	opacity: 0.7;
	ul{
		display: inline-flex;
		li{
			margin: 0 15px;
		}
	}
	i{
	font-size:18px;
	text-shadow:1px 0px 20px 0px rgba(50, 50, 50, 1);
	transition: color 0.3s;
	}
}

.card-image{
	overflow:hidden;
	height: 220px;
	.is-flexible-image{
		min-height:220px;
	}
}