// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-date{
	position: absolute;
	top: 15px;
	right: 0px;
	padding: 5px 7px;
	z-index: 1;
	background: $primary;
	border: 3px solid $primary;
	border-radius: $radius 0 0 $radius;
}

.js-is-hidden{
	display:none !important;
	// transition: display 0s, opacity 0.5s linear;
}

.is-active{
	color: #000;
	font-weight:800;
}
