<div class="container">
	<div class="columns is-wrap is-columns-margin">
		<div class="column is-11">
	      <div class="heading">
	        <h1 class="title">Events</h1>
	      </div>
	  </div>
	  <div class="column is-1">
			<a class="button is-primary" href=""><i class="fa fa-plus"></i></a>
	  </div>
	  <%= render partial: 'card', :collection=> @events, :as=> :event%>
	</div>
</div>