<div id="events-tab" class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="">
        <a href="#venue-tab"><i class="fa fa-building-o"></i>Venue info</a>
      </li>
      <li class="">
        <a href="#merchandise-tab"><i class="fa fa-archive"></i>Merchandise</a>
      </li>
      <li class="is-active">
        <a href="#finances-tab"><i class="fa fa-balance-scale"></i>Finances</a>
      </li>
    </ul>
  </div>