<section class="is-window-centered">
  <div class="hero-content">
    <div class="columns">
    	<div class="column is-half is-offset-quarter">
      <h1 class="title is-text-centered">
        Update event for <%= @band.name %>:
      </h1>
      <%=render 'form'%>
    	</div>
  	</div>
  </div>
</section>