<div class="container">
	<br>
	<%= render 'navbar' %>

	<div id="events-all" class="columns is-wrap is-columns-margin">
	  <div class="column is-11">
			 <h2 class="title is-5">All events:</h2>
		</div>

			<%= render partial: 'card', :collection=> @events, :as=> :event%>

	</div>	

  <div id="events-ontour" class="columns is-wrap is-columns-margin js-is-hidden">
	  <div class="column is-11">
			 <h2 class="title is-5">On Tour events:</h2>
		</div>

			<%= render partial: 'card', :collection=> @events.where(completed: false), :as=> :event%>

	</div>

	<div id="events-expired" class="columns is-wrap is-columns-margin js-is-hidden">
		<div class="column is-11">
			<h2 class="title is-5">Expired events:</h2>
		</div>

		<%= render partial: 'card', :collection=> @events.where(completed: true), :as=> :event%>
	
	</div>
</div>