<div class="container">
	<div class="columns is-wrap is-columns-margin">
		<div class="column is-11">
	      <div class="heading">
	        <h1 class="title">Venues</h1>
	      </div>
	  </div>
	  <div class="column is-1">
			<a class="button is-primary" href=<%="#{new_user_venue_path}"%>><i class="fa fa-plus"></i>New</a>
	  </div>
	  <%= render partial: 'card', :collection=> @venues, :as=> :venue %>
</div>

