<div class="columns is-text-centered">
	<div class="column">
		<a href="<%=user_band_path(user_id:@user.id, id:band.id)%>"><i class="fa fa-cog"></i></a>
	</div>
	<div class="column">
		<a href="#"><i class="fa fa-calendar-o"></i></a>
	</div>	
	<div class="column">
		<a href="<%=user_band_products_path(band_id:band.id)%>"><i class="fa fa-archive"></i></a>
	</div>
	<div class="column">
		<a href="<%=user_band_finances_path(band_id:band.id)%>"><i class="fa fa-balance-scale"></i></a>
	</div>
</div>