<div class="hero-footer">
  <nav class="tabs is-boxed">
    <div class="container is-fluid">
      <ul id="tab_menu">
        <li>
          <a href="<%= user_band_path(user_id: current_user.id, id: @band.id) %>">Profile</a>
        </li>
        <li>
          <a href="<%= user_band_products_path(user_id: current_user.id, band_id: @band.id) %>">Merchandise</a>
        </li>
        <li>
          <a href="<%= user_band_events_path(user_id: current_user.id, band_id: @band.id) %>">Events</a>
        </li>
        <li>
          <a href="<%= user_band_events_stats_path(user_id: current_user.id, band_id: @band.id) %>">Finances</a>
        </li>
      </ul>
    </div>
  </nav>
</div>