<section class="hero is-left">
  <div class="hero-content">
    <div class="container is-fluid">
      <h1 class="title">
        <%=@band.name%>
      </h1>
    </div>
  </div>
</section>

<div class="columns is-wrap">	
	<div class="column is-3">
		<p>navbar vertical</p>
	</div>
	<div class="column is-9">
		<p>description</p>
	</div>
</div>