<section class="hero is-fullheight" style="background-image: url(system/roster_2.jpg)">
  <div class="hero-content">
    <div class="container">
      <h1 class="title is-1 is-lighter-color">
        Discover the new way of music management
      </h1>
      <h2 class="subtitle is-primary-color is-3">
        Full Height subtitle
      </h2>
    </div>
  </div>
</section>