<section class="hero is-fullheight" style="background-image: url(system/roster_2.jpg)">
  <div class="hero-content">
    <div class="container">
      <h1 class="title is-1 is-lighter-color">
        Discover the new way of music management
      </h1>
      <h2 class="subtitle is-primary-color is-3">
        Get started!
      </h2>
      <h3 class="is-lighter-color">
        <a id="arrow-scroll" href="#features"><i class="fa fa-angle-down fa-2x"></i></a>
      </h3>
    </div>
  </div>
</section>
<br>
<div class="container">
  <h1 class="title is-3 is-text-centered">Features</h1>
  <br>
  <div id="features" class="columns is-wrap">
    <div class="column is-6">
      <div class="blurb">
        <p class="is-text-centered"><i class="fa fa-cog"></i></p>
        <h1 class="title is-3 is-text-centered">Bands</h1>
        <p class="content">
          Create and manage your bands with no limits. You can set your management commission for each band, control the backline as well as special food needs of all members of band in order to make the perfect route map.
        </p>
        <hr>
      </div>
    </div>
    <div class="column is-6">
      <div class="blurb">
        <p class="is-text-centered"><i class="fa fa-archive"></i></a></p>
        <h1 class="title is-3 is-text-centered">Merchandise</h1>
        <p class="content">
          Our merchandise section let you,or your tour manager, control all your band's merchandise in one click. Set how many items travel with you every gig and start selling with no more stock troubles.  Easy come, easy go.
        </p>
        <hr>
      </div>
    </div>
    <div class="column is-6">
      <div class="blurb">
        <p class="is-text-centered"><i class="fa fa-calendar-o"></i></p>
        <h1 class="title is-3 is-text-centered">Events</h1>
        <p class="content">
          Hit the road! Create events has never been so easy. Set event type, Band cache or Box office, and manage all receives and expenses. On Tour, you can create a route map PDF document with all band specs & venue info.
        </p>
        <hr>
      </div>
    </div>
    <div class="column is-6">
      <div class="blurb">
        <p class="is-text-centered"><i class="fa fa-building-o"></i></p>
        <h1 class="title is-3 is-text-centered">Venues</h1>
        <p class="content">
          Your venue agenda for all bands and events. Here, you can set all venue information: from address to venue costs. Forget about to check your mail to see previous conditions, contact name or whatever!
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>