/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bulma/utilities/utilities";

@import "bulma/config/variables";

$mustard-bright: #F5BA06;
$primary: $mustard-bright;
$family-sans-serif: "alwyn-new-rounded-web",sans-serif;

@import "bulma/config/generated-variables";
@import "bulma/base/base";
@import "bulma/elements/elements";
@import "bulma/components/components";

.card{
	box-shadow: none;
}

.menu{
	border: 1px solid #F5BA06;
}

@import "bulma/layout/layout";
.header{
	height:70px;
}

.header-tab{
	height:70px;
	display:flex;
}

.is-wrap{
	flex-wrap: wrap;
}

.is-primary-color{
	color: $primary;
}
.is-text-bold{
	font-weight:800;
}