// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-menu{
	border: 1px solid #F5BA06;
	border-radius: 4px 4px 0 0;
}

.artist-menu-heading{
	background: #f5f7fa;
  border-bottom: 1px solid #F5BA06;
  border-radius: 4px 4px 0 0;
  color: #222324;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}