<section class="hero is-left">
  <div class="hero-band-background is-hero-band-image" style="background-image:url(<%= @band.image.url %>")></div>
  <div class="hero-band-background is-hero-band-gradient is-gradient"></div>
  <div class="hero-content">
    <div class="container is-fluid">
      <h1 class="title is-1 artist-page-title">
        <%=@band.name%> finances:
      </h1>
    </div>
  </div>
  <%= render 'bands/menu' %>
</section>
<div class="container">
  <div class="columns is-wrap is-columns-margin">	

	<div class="column">
		<h1 class="title is-3">Events Revenue:</h1>
		<canvas id="myChart" width="960" height="400"></canvas>
		<hr>
    <h1 class="title is-3">Events table:</h1>
<table class="table">
  <thead>
    <tr>
      <th>Event Date</th>
      <th>Receive</th>
      <th>Expense</th>
      <th>Management Commision</th>
    </tr>
  </thead>
  <tbody id="event-table-report">
  </tbody>
</table>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>