<header class="header">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#">
        <img src="images/bulma.png" alt="Logo">
      </a>
      <a class="header-tab" href="#">
        Tab
      </a>
      <a class="header-tab is-active" href="#">
        Active tab
      </a>
    </div>

    <!-- Hamburger menu (on mobile) -->
    <span class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- Right side -->
    <div class="header-right header-menu">
      <%if user_signed_in? %>
        <span class="header-item">
          <a class="button" data-method="DELETE" href=<%="#{destroy_user_session_path}"%>>Log out</a>
        </span>
        <% else %>
        <span class="header-item">
          <span class="header-item">
            <a><%= link_to "Sign Up", new_user_registration_path %></a>
          </span>
          <a class="button" href=<%="#{new_user_session_path}"%>>Log in</a>
        </span>
      <% end %>
    </div>
  </div>
</header>